- if products.present?
  .row
    - products.each_with_index do |product, index|
      -if product.image_url.present?
        .col-sm-12.col-md-4
          .card.mt-3.bg-light
            .card-image.mx-auto.my-2
              = link_to product_path(product) do
                = image_tag(product.image_url, class: "rounded border", size:"180x250")
            .card-body.bg-white.border-top
              = link_to product_path(product) do
                %h5.card-title.text-truncate= product.title
              -if product.author.present?
                %p.card-text.text-truncate= product.author
              -else
                %p.card-text 作者情報なし
              -# .star
              -#   %span{id: "star-rate-#{product.id}"}
              -#   %span.small.align-middle.ml-3
              -#     = "#{product.posts.count}件の口コミ"
            .card-footer.bg-white.text-center
              %h5
                = "#{@posts_ranking_page * @posts_ranking_per + (index - @posts_ranking_per + 1)}位"
                %i.far.fa-comment.text-primary.ml-2
                %span.small= product.posts.count
      -# :javascript
      -#   $('#star-rate-#{product.id}').raty({
      -#     size     : 36,
      -#     starOff:  '#{asset_path('star-off.png')}',
      -#     starOn : '#{asset_path('star-on.png')}',
      -#     starHalf: '#{asset_path('star-half.png')}',
      -#     half: true,
      -#     readOnly: true,
      -#     score: '#{product.posts.average(:rate).to_f.round(1)}'
      -#   });
