.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item
        = link_to "マイページ", user_path(current_user)
      %li.breadcrumb-item.active{aria: {current: "page"}}
        プロフィール編集
  .row
    .offset-xs-2.col-xs-8.offset-md-3.col-md-6
      .card
        .card-header プロフィール編集
        .card-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = render "layouts/error_messages", model: f.object

            .form-group
              .text-center
                = image_tag avatar_url(@user), size: "140x140", id: "avatar_img", class: "rounded-circle", style: "cursor: pointer;", onClick: "$('#upfile').click()"
                = f.file_field :image, class: "form-control", style: "display: none;", id: "upfile", accept: "image/jpeg,image/gif,image/png"
            :javascript
              $(document).on('turbolinks:load', function(){
                $('#upfile').on('change', function(e){
                  var file = e.target.files[0]
                  var reader = new FileReader();
                  if(file.type.indexOf("image") < 0){
                    alert("画像ファイルを指定してください。")
                    return false;
                  };
                  reader.onload = (function(file){
                    return function(e){
                      $("#avatar_img").attr("src", e.target.result);
                    };
                  })(file);
                  reader.readAsDataURL(file);
                });
              });
            .form-group
              = f.label :name, "ユーザー名 (15文字以内)"
              = f.text_field :name, autofocus: true, class: "form-control", maxlength: "15"
            .form-group
              = f.label :email, "メールアドレス"
              = f.email_field :email, autocomplete: "email", class: "form-control"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .form-group
              = f.label :password, "パスワード"
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} 文字以上)
              = f.password_field :password, autocomplete: "new-password", class: "form-control"
            .form-group
              = f.label :password_confirmation, "パスワード（確認）"
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
            .form-group
              = f.label :self_introduction, "自己紹介（ 140文字以内）"
              = f.text_area :self_introduction, class: "form-control", rows: "3", maxlength: "140", placeholder: "自己紹介を記入してみましょう"
              = f.submit "変更する", class: "btn btn-success btn-block mt-4"
          .text-center
            = link_to "マイページ", :back
            %span へ戻る
  = render "layouts/footer"