.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item.active{aria: {current: "page"}}
        新規登録
  .row
    .offset-xs-2.col-xs-8.ofpshowfset-md-3.col-md-6
      .card
        .card-header 新規登録
        .card-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "layouts/error_messages", model: f.object

            .form-group
              = f.label :name, "ユーザー名 (20文字以内)"
              = f.text_field :name, autofocus: true, class: "form-control", maxlength: "20"
            .form-group
              = f.label :email, "メールアドレス"
              = f.email_field :email, autocomplete: "email", class: "form-control"
            .form-group
              = f.label :password, "パスワード"
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} 文字以上)
              = f.password_field :password, autocomplete: "new-password", class: "form-control"
            .form-group
              = f.label :password_confirmation, "パスワード (確認)"
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
              = f.submit "登録する", class: "btn btn-success btn-block mt-4"
        .text-center.mb-3
          %span アカウントをお持ちの方は
          %span= link_to "こちら", new_user_session_path
          %span からログインしてください
