.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item
        = link_to users_path do
          ユーザーを探す
      %li.breadcrumb-item.active{aria: {current: "page"}}
        = "#{@key_word}の検索結果"


.container
  .row.justify-content-center
    = search_form_for @q, url: search_users_path, class: "form-inline" do |f|
      .form-group
        .col
          = f.search_field :name_cont, class: "form-control form-control-lg", placeholder: "ユーザー名"
      .form-group
        .col
          = f.submit "検索", class: "btn btn-success btn-md"

  = render "user_cards", users: @users

  = paginate @users
