.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item.active{aria: {current: "page"}}
        マイページ

.container
  .row.justify-content-center
    .col-md-4.text-center
      = image_tag avatar_url(@user), size: "140x140", class: "rounded-circle"
    .col-md-4.text-center
      %h3.font-weight-bold.mt-2.text-break= @user.name
      .self-introduction.text-break.text-justify
        = simple_format @user.self_introduction
  .row.justify-content-center
    .col-md-4.text-center
      -if current_user == @user
        = link_to "プロフィール編集", edit_user_registration_path, class: "btn btn-sm btn-outline-success mt-2"
      - else
        - if current_user.following?(@user)
          = form_with model:current_user.active_relationships.find_by(followed_id: @user.id), local: true, html: {method: :delete} do |f|
            = f.submit "フォロー中", class: "btn btn-success rounded-pill mt-2"
        - else
          = form_with model: current_user.active_relationships.build, local: true do |f|
            = hidden_field_tag :followed_id, @user.id
            = f.submit "フォロー", class: "btn btn-outline-success rounded-pill mt-2"

    .col-md-4
  .row
    .col-md-12
      %ul.nav.nav-tabs.nav-justified.my-3{role: "tablist"}
        %li.nav-item
          = link_to "投稿", "#link1", {class: "nav-link active", role: "tab", "data-toggle" => "tab", "aria-controls" => "link1", "aria-selected" => "true"}
        %li.nav-item
          = link_to "#link2", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "link2", "aria-selected" => "false"} do
            お気に入り
            %span.badge.badge-pill.badge-secondary
              = @likes.length
        %li.nav-item
          = link_to "#link3", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "link3", "aria-selected" => "false"} do
            フォロー
            %spann.badge.badge-pill.badge-secondary
              = @following.length
        %li.nav-item
          = link_to "フォロワー", "#link4", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "link4", "aria-selected" => "false"}
      .tab-content
        #link1.tab-pane.active{role: "tabpanel", "aria-labelledby" => "link1-tab"}
          投稿コンテンツ
        #link2.tab-pane{role: "tabpanel", "aria-labelledby" => "link2-tab"}
          = render "likes_list", likes: @likes
        #link3.tab-pane{role: "tabpanel", "aria-labelledby" => "link3-tab"}
          = render "following_list", users: @following  
        #link4.tab-pane{role: "tabpanel", "aria-labelledby" => "link4-tab"}
          フォロワー