.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item.active{aria: {current: "page"}}
        マイページ

.container
  .row.justify-content-center
    .col-md-4.text-center
      = image_tag avatar_url(@user), size: "140x140", class: "rounded-circle mb-2"
    .col-md-4.text-center
      %h3.font-weight-bold.mt-2.text-break= @user.name
      .self-introduction.text-break.text-justify
        = simple_format @user.self_introduction
  .row.justify-content-center
    .col-md-4.text-center
      = render "profile_follow_form", user: @user
    .col-md-4
  .row
    .col-md-12
      %ul.nav.nav-tabs.nav-justified.my-3{role: "tablist"}
        %li.nav-item
          = link_to "#posts", {class: "nav-link active", role: "tab", "data-toggle" => "tab", "aria-controls" => "posts", "aria-selected" => "true"} do
            口コミ
            %span.badge.badge-pill.badge-secondary
              = @posts.length
        %li.nav-item
          = link_to "#likes", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "likes", "aria-selected" => "false"} do
            お気に入り
            %span.badge.badge-pill.badge-secondary
              = @likes.length
        %li.nav-item
          = link_to "#following", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "following", "aria-selected" => "false"} do
            フォロー
            %span.badge.badge-pill.badge-secondary{id: "following_#{@user.id}"}
              = @following.length
        %li.nav-item
          = link_to "#followers", {class: "nav-link", role: "tab", "data-toggle" => "tab", "aria-controls" => "followers", "aria-selected" => "false"} do
            フォロワー
            %span.badge.badge-pill.badge-secondary
              = @followers.length

      .tab-content
        #posts.tab-pane.active{role: "tabpanel", "aria-labelledby" => "posts1-tab"}
          = render "posts/post_list", posts: @posts
        #likes.tab-pane{role: "tabpanel", "aria-labelledby" => "likes-tab"}
          = render "like_list", likes: @likes
        #following.tab-pane{role: "tabpanel", "aria-labelledby" => "following-tab"}
          = render "following_list", users: @following  
        #followers.tab-pane{role: "tabpanel", "aria-labelledby" => "followers-tab"}
          = render "followers_list", users: @followers
  = render "layouts/footer"