- content_for :cover do  
  .cover
    .cover__inner
      .cover__inner__contents
        %h1 BookMine
        .cover__inner__contents__text.mb-5
          読みたい本、ありますか？
          %br BookMineで見つけましょう
          
        - unless user_signed_in?
          = link_to "BookMineを始める", new_user_session_path, class: "btn btn-success btn-lg mb-5"
.container
  %h2.text-center.mt-4
    人気の本
  = render "toppage_ranking", products: @ranking
  .text-center
    = link_to "#", class: "btn btn-success my-4" do
      人気の本をもっと見る
  %h2.text-center.mt-4
    最新の口コミ
  = render "posts/post_list", posts: @posts
  .text-center
    = link_to posts_path, class: "btn btn-success" do
      口コミをもっと見る
  = render "layouts/footer"
