.container
  - if posts.present?
    - posts.each do |post|
      .row.border.my-4.rounded.border-muted.bg-white
        .col-sm-12.col-md-2.d-flex.justify-content-center.post-box
          .image-box.mt-4
            = link_to product_path(post.product) do
              = image_tag post.product.image_url, class: "border border-muted rounded mb-2", size: "120x160"
   
        .col-sm-12.col-md-10
          .m-3
            = link_to user_path(post.user), class: "text-decoration-none" do
              = image_tag avatar_url(post.user), class: "rounded-circle", size: "40x40"
              %span.align-middle.ml-3.text-dark
                = post.user.name
            .text-muted.mt-1
              = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
          %table.table
            %tbody.text-break
              %tr
                %th 書籍名
                %td= post.product.title
              %tr
                %th タイトル
                %td= post.title
              %tr
                %th 評価 
                %td
                  %span{id: "star-rate-#{post.id}"}
                  %span.align-middle.ml-3.font-weight-bold
                    = post.rate
              %tr
                %th 口コミ
                %td= simple_format post.content
        - if post.user.id == current_user.id
          .col-sm-12.col-md-12.text-right.mb-3
            = link_to edit_post_path(post), class: "btn btn-sm btn-outline-success" do
              %i.far.fa-edit
              %span 編集
            %button.btn.btn-sm.btn-outline-danger.ml-3{type: "button", data: {toggle: "modal", target: "#destroy-post"}}
              %i.far.fa-trash-alt
              %span 削除
            .modal.fade#destroy-post{tabindex: "-1", role: "dialog", aria: {labelledby: "destroy-post-title", hidden: "true"}}
              .modal-dialog.modal-dialog-centered{role: "document"}
                .modal-content
                  .modal-body
                    %p.text-center 口コミを削除しますか？
                  .modal-footer
                    = link_to post, method: :delete, class: "btn btn-outline-success" do
                      %span はい
                    %button.btn.btn-outline-danger.ml-3{data: {dismiss: "modal"}}
                      いいえ
      :javascript
        $('#star-rate-#{post.id}').raty({
          size     : 36,
          starOff:  '#{asset_path('star-off.png')}',
          starOn : '#{asset_path('star-on.png')}',
          starHalf: '#{asset_path('star-half.png')}',
          half: true,
          readOnly: true,
          score: '#{post.rate}'
        });