.col-sm-10.col-md-3.mb-3
  .card.bg-light
    .card-image.mx-auto.my-2
      = image_tag(product.image_url, class: "rounded border")
    .card-body.bg-white.border-top.text-center
      .star.mb-2
        %span{id: "product-star-rate"}
        %span.small.align-middle.ml-2
          = "(#{product.posts.count}件)"
      :javascript
        $(document).on('turbolinks:load', function(){
          $('#product-star-rate').raty({
            size     : 36,
            starOff:  '#{asset_path('star-off.png')}',
            starOn : '#{asset_path('star-on.png')}',
            starHalf: '#{asset_path('star-half.png')}',
            half: true,
            readOnly: true,
            score: '#{product.posts.average(:rate).to_f.round(1)}'
          });
        });
      - if user_signed_in?
        - if current_user.products.where(id: product.id).length == 0
          = form_with url: likes_path, method: :post, local: true do |f|
            = f.hidden_field :product_id, value: product.id
            = f.submit "お気に入り登録", class: "btn btn-sm btn-outline-success"
        - else
          = form_with url: like_path(product), method: :delete, local: true do |f|
            = f.submit "お気に入り登録中", class: "btn btn-sm btn-success"
      - else
        = link_to "お気に入り登録", new_user_session_path, class: "btn btn-sm btn-outline-success"
    .card-footer.bg-white.text-center
      - if user_signed_in?
        - if current_user.posts.where(product_id: product.id).length == 0
          = link_to new_post_product_path, class: "btn btn-sm btn-outline-primary" do
            口コミを投稿する
        - else
          %p.small 口コミ投稿済み
          = link_to edit_post_path(post), class: "btn btn-sm btn-outline-success" do
            %i.far.fa-edit
            %span 編集
          %button.btn.btn-sm.btn-outline-danger.ml-3{type: "button", data: {toggle: "modal", target: "#destroy-post"}}
            %i.far.fa-trash-alt
            %span 削除
            
          -# モーダル
          .modal.fade{id: "destroy-post", tabindex: "-1", role: "dialog", aria: {labelledby: "destroy-post-title", hidden: "true"}}
            .modal-dialog.modal-dialog-centered{role: "document"}
              .modal-content
                .modal-body
                  %h4.text-center
                    %span
                      %i.far.fa-trash-alt.text-danger
                      口コミを削除しますか？
                .modal-footer
                  = link_to post_path(post), method: :delete, class: "btn btn-outline-success" do
                    %span はい
                  %button.btn.btn-outline-danger.ml-3{data: {dismiss: "modal"}}
                    いいえ

      - else
        = link_to new_user_session_path, class: "btn btn-sm btn-outline-primary" do
          口コミを投稿する
