.nav{aria: {label: "breadcrumb"}}
  %ol.breadcrumb.bg-transparent
    %li.breadcrumb-item
      = link_to "Home", root_path
    %li.breadcrumb-item.active{aria: {current: "page"}}
      本を探す

.row.justify-content-center
  = form_with url: new_product_path, method: :get, local: true, class: "form-inline" do |f|
    .form-group.form-inline
      = f.text_field :key_word, class: "form-control form-control-lg col", placeholder: "書籍名", value: ""
      = f.submit "検索", class: "btn btn-success btn-lg col"

-if @books.present?
  .row
    - @books["items"].each do |book|
      -if book["volumeInfo"]["imageLinks"].present?
        .col-xs-12.col-sm-6.col-md-4.col-lg-3
          .card.mt-3
            .card-image
              = image_tag(book["volumeInfo"]["imageLinks"]["smallThumbnail"],size:"128x181")