.container
  .nav{aria: {label: "breadcrumb"}}
    %ol.breadcrumb.bg-transparent
      %li.breadcrumb-item
        = link_to root_path do
          %i.fas.fa-home
      %li.breadcrumb-item
        = link_to new_product_path do
          本を探す
      %li.breadcrumb-item.active{aria: {current: "page"}}
        本の詳細
  %h2.text-center.mb-3 本の詳細

  .row.justify-content-center
    .col-sm-10.col-md-3.mb-3
      .card.bg-light
        .card-image.mx-auto.my-2
          = image_tag(@product.image_url, class: "rounded border")
        .card-body.bg-white.border-top.text-center
          - if user_signed_in?
            - if current_user.products.where(id: @product.id).length == 0

              = form_with url: likes_path, method: :post, local: true do |f|
                = f.hidden_field :product_id, value: @product.id
                = f.submit "お気に入り登録", class: "btn btn-sm btn-outline-success"
            - else
              = form_with url: like_path(@product), method: :delete, local: true do |f|
                = f.submit "お気に入り登録中", class: "btn btn-success"
          - else
            = link_to "お気に入り登録", new_user_session_path, class: "btn btn-outline-success"
        .card-footer.bg-white.text-center
          - if user_signed_in?
            - if current_user.posts.where(product_id: @product.id).length == 0
              = link_to new_post_product_path, class: "btn btn-outline-primary" do
                口コミを投稿する
            - else
              %p.small 口コミ投稿済み
              = link_to edit_post_path(@post), class: "btn btn-sm btn-outline-success" do
                %i.far.fa-edit
                %span 編集
              %button.btn.btn-sm.btn-outline-danger.ml-3{type: "button", data: {toggle: "modal", target: "#destroy-post"}}
                %i.far.fa-trash-alt
                %span 削除
          - else
            = link_to new_user_session_path, class: "btn btn-outline-primary" do
              口コミを投稿する

    .col-sm-12.col-md-9
      %table.table
        %tbody
          %tr
            %th タイトル
            %td= @product.title
          %tr
            %th 著者
            %td= @product.author
          %tr
            %th 説明
            %td.text-break= simple_format @product.description
          %tr
            %th 出版社
            %td= @product.publisher
          %tr
            %th 発売日
            %td= @product.release_date
    .col-sm-12.col-md-12
      %h2.text-center.my-3
        この本の口コミ
      = render "posts/post_list", posts: @posts
      = render "layouts/footer"