%header
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      = link_to "BookMine", root_path, class: "navbar-brand"
      %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, aria: {controls: "navbarNav", expanded: "false", label: "Toggle navigation"}}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNav
        %ul.navbar-nav.my-1.mx-auto
          %li.nav-item
            = link_to "ランキング", "#", class: "nav-link"
          %li.nav-item
            = link_to "レビューを探す", "#", class: "nav-link"
          %li.nav-item
            = link_to "ユーザーを探す", "#", class: "nav-link"
        - if user_signed_in?
          .dropdown
            %a.text-dark.text-decoration-none.dropdown-toggler{href: "#", role: "button", data: {toggle: "dropdown"}, aria: {haspopup: "true", expanded: "false"}}
              = current_user.name
            .dropdown-menu
              = link_to "マイページ", "#", class: "dropdown-item"
              .dropdown-divider
              = link_to "ログアウト", destroy_user_session_path, class: "dropdown-item text-danger", method: :delete
        - else
          %ul.navbar-nav.ml-auto
            %li.nav-item.my-1
              = link_to "新規登録", new_user_registration_path, class: "nav-link"
            %li.nav-item.my-1
              = link_to "ログイン", new_user_session_path, class: "nav-link"
            %li.nav-item.my-1
              = form_with model: @user, url: user_session_path, method: :post, local: true do |f|
                = f.hidden_field :email, value: "test@gmail.com"
                = f.hidden_field :password, value: "111111"
                = f.submit "簡単ログイン", class: "btn btn-success"